.about {
  width: 90%;
  height: 65%;
  z-index: 5;

  &__container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    z-index: 5;
  }
  &__text {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: $color-bacground-light-opa;
    backdrop-filter: blur(2rem);
    border-radius: 0 0 35rem 0;
    border: 5px hidden transparent;
    box-shadow: 0 10px 45px 3px $color-shadow-light-opa;
    z-index: 10;
  }
  &__description {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $color-alter-opa;
    backdrop-filter: blur(2rem);
    border-radius: 10px;
    box-shadow: 15px 15px 15px $color-shadow-light-opa;
    z-index: 10;

    @include respond(desktop) {
    }
    @include respond(desktop-small) {
    }
    @include respond(tab-land) {
      width: 80%;
    }
    @include respond(tab-port) {
    }

    &-p {
      width: 65rem;
      padding: 5rem;
      text-align: justify;
      z-index: 10;
    }
  }
  &__img {
    position: absolute;
    right: -50%;
    top: -35%;
    z-index: 10;

    & img {
      width: 100%;
      height: 100%;
      border-radius: 25%;

      @include respond(desktop) {
        width: 90%;
      }
      @include respond(desktop-small) {
        width: 75%;
      }
      @include respond(tab-land) {
        // width: 50%;
      }
      @include respond(tab-port) {
      }
    }

    @include respond(desktop) {
      right: -45%;
    }
    @include respond(desktop-small) {
      right: -55%;
    }
    @include respond(tab-land) {
      position: static;
    }
    @include respond(phone) {
      position: static;
    }
  }
}
