*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  background: $color-bacground-dark;
  width: 100vw;
  height: 100vh;
  color: $color-font-dark;
  overflow: hidden;
}

html {
  box-sizing: border-box;
  /* 1rem = 10px; 16px - base font size  10px/16px = 62.5% */
  font-size: 62.5%;
  font-family: $font-family;
  scroll-behavior: smooth;

  @include respond(desktop-small) {
    font-size: 50%; // 1rem = 8px
  }
  @include respond(tab-port) {
    font-size: 44%; // 1rem = 7px
  }
  @include respond(phone) {
    font-size: 37%; // 1rem = 6px
  }
}

h1,
h3 {
  margin: 2rem 0;
  color: $color-font-light;
}

h1 {
  font-size: $header-h1;
}
h3 {
  font-size: $header-h3;
}

a,
a:focus,
a:active {
  color: $color-font-light;
}

p,
span {
  font-size: $font-normal;
  color: $color-font-light;
  letter-spacing: 1.2px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.circle1,
.circle2 {
  background: #ffffff;
  background: linear-gradient(to right bottom, #ffffffcc, #ffffff4d);
  height: 20rem;
  width: 20rem;
  position: absolute;
  border-radius: 50%;
}

/* helper classes */
.active {
  display: block;
}

.inactive {
  display: none;
}

.circle1 {
  top: 5%;
  right: 30%;
}
.circle2 {
  bottom: 40%;
  left: 3%;
  z-index: 4;
}

.ruler {
  border-top: 1px solid rgba(#ffffff0c, 0.3);
  position: absolute;
  top: 82%;
  height: 50%;
  left: 0%;
  right: 0%;
}
