.modal {
  position: fixed;
  z-index: 20;
  padding-top: 100px;
  right: 0;
  top: 0;
  width: 40%;
  height: 100%;
  overflow: hidden;
  background-color: $color-bacground-dark-opa-1;
  box-shadow: -15px 0px 15px 5px $color-main-dark-opa;
  backdrop-filter: blur(6px);
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);

  animation: modalShow 0.5s forwards;

  @include respond(desktop) {
  }
  @include respond(desktop-small) {
  }
  @include respond(tab-land) {
    width: 60%;
  }
  @include respond(tab-port) {
  }

  &-content {
    background-color: $color-alter-opa;
    box-shadow: 5px 5px 15px 5px $color-alter-opa;
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 5px;
    width: 35rem;
    height: 35rem;
    opacity: 1;
    animation: contentShow 0.5s forwards;

    @include respond(desktop) {
    }
    @include respond(desktop-small) {
    }
    @include respond(tab-land) {
      height: 25rem;
    }
    @include respond(tab-port) {
      height: 20rem;
      width: 20rem;
    }
  }

  &.out {
    animation: modalHide 0.5s;
  }
}

@keyframes modalShow {
  0% {
    width: 0%;
    height: 0%;
  }
  50% {
    width: 60%;
    height: 100%;
  }
  100% {
    width: 40%;
    height: 100%;

    @include respond(desktop) {
    }
    @include respond(desktop-small) {
    }
    @include respond(tab-land) {
      width: 60%;
    }
    @include respond(tab-port) {
    }
  }
}

@keyframes modalHide {
  0% {
    width: 40%;
    height: 100%;
  }
  50% {
    width: 60%;
    height: 100%;
  }
  100% {
    width: 0%;
    height: 0%;
  }
}

@keyframes contentShow {
  0% {
    opacity: 0;
    width: 0%;
    height: 0%;
  }

  100% {
    opacity: 1;
    width: 35rem;
    height: 35rem;
  }
}
