@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css');

/* colors */
$color-bacground-light: #f7f6f5;
$color-bacground-light-opa: #f6f5f44f;
$color-bacground-dark: #25242d;
$color-bacground-dark-opa: #25242d41;
$color-bacground-dark-opa-1: #25242dcb;
$color-main-dark: #242341;
$color-main-dark-opa: #2423419d;
$color-light: #4d64aa;
$color-light-opa: #4d64aa50;
$color-alter: #af851a;
$color-alter-opa: #af851a54;

$color-shadow-light: #fffcf8de;
$color-shadow-light-opa: #fffcf88e;

/* fonts */
$color-font-light: #f7f6f5;
$color-font-dark: #25242d;

$font-small: 1.2rem;
$font-medium: 1.4rem;
$font-normal: 1.6rem;
$font-large: 1.8rem;
$font-big: 2rem;

$header-h1: 2.8rem;
$header-h2: 2.6rem;
$header-h3: 2.4rem;
$header-h4: 2.2rem;

$link-big: 5rem;

$font-family: 'Roboto', sans-serif;

/* Brakepoints */
$bp-xldesktop: 120em; // 1900px/16 = 125em rozdzielczosc/16px
$bp-ldesktop: 100em; // 1600px/16 = 100em rozdzielczosc/16px
// $bp-ldesktop: 88em; // 1400px/16 = 87,5em rozdzielczosc/16px
$bp-desktop: 75em; // 1200px/16 = 75em rozdzielczosc/16px
$bp-deskot-small: 63em; // 1000px/16
$bp-tablet-landscape: 56em; // 900px
$bp-tablet-portrait: 48em; // 767px
$bp-phone: 37em; // 599px
$bp-xsmall: 31em; // < 500px
$bp-xxsmall: 22.5em; // < 360px
